@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Raleway];
  }

  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

@media (max-width: 767px) {
  .w-full {
    width: 100%;
  }

  .h-screen {
    height: auto;
    min-height: 100vh;
  }

  .text-4xl {
    font-size: 2rem;
  }

  .text-lg {
    font-size: 1rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-16 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .w-4\/6 {
    width: 100%;
  }

  .grid-cols-1,
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:text-right {
    text-align: center;
  }
}

button {
  @apply px-4 py-2 rounded-md bg-blue-500 text-white font-bold hover:bg-blue-600 transition-colors duration-300;
  padding: 10px 20px;
}

button:focus {
  @apply outline-none;
}
